//grey
$halfnhalf: #eae5c4;
$zeus: #363630;
//iff
$iff-primary: #7f7f74;
$iff-btn-primary: #eae5c4;
$iff-btn-primary-hover: #ded8b1;
$iff-primary-hover: #f7f5e8;
$iff-board-bg: #fbfbfc;
$iff-bg1: #f5f5f5;
$iff-grey-label: #aba8a8;
$iris-blue: #00addc;
$iff-tag-bg: #ededed;
$input-border-color: #ddd;
$toggle-color: #00addc;
$warmgrayminusfive: #f3f3f2;
$warmgrayplusone: #363630;
$iff-btn-clr-hover: #f5f5f5;
/*start hex colors*/

$white: #ffffff;
//button
$tapa: #7f7f74;
$chicago: #65675e;
$bianca: #f7f5e7;
//blue
$prussian-blue: #002976;
$smalt: #0138a0;
// DropDown
$dropdown-item-hover: #84d8dd;
$dropdown-content-color: #3b3b39;
$switch-bg: #03abe0;

$button-color: $tapa;
$button-color-hover: $chicago;
$button-primary-bg-color: $tapa;
$button-primary-bg-color-hover: $chicago;
$button-primary-color: $white;
$button-primary-color-hover: $button-primary-color;
$button-sec-bg-color: #d1d1cf;

// filter
$blacksqueeze: #f3f3f2;
$concrete: #ccccc7;
$blackptfiv: rgba(0, 0, 0, 0.5);
$whitepteleven: rgba(255, 255, 255, 0.11);
$popupheader: #d9d9d9;

$iff-btn-clr2: #002976;
$iff-btn-clr2-hover: #0138a0;

$bluelagoon: #005870;
$dateLabelSelected: #cfcfcf;
$dateLabel: #4d4d4d;
$label: #b9b8b4;
