<div>
    <div class="content-main">
        <div class="form-area" mdl-shadow="2">
            <div class="invalid-user-icon">
                <i class="vmi-icon user"></i>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <h1 class="h1">You are not authorized to use this application</h1>
                        <h2 class="h2">If you require access, please put in a request at the link below</h2>
                        <h3 class="h3">End User Self Service Portal</h3>
                </div>
                <div class="col-md-12">
                    <p class="lbl-text">Choose the below option on the screen:</p>
                </div>
                <div class="col-md-12">
                        <div class="dashboard-item">
                            <p class="dashboard-icon">
                                    <i class="vmi-icon hand"></i>
                            </p>
                            <p class="dashboard-link-txt">Request for <br/>security access (non-SAP)</p>
                        </div>
                </div>
                <div class="col-md-12">
                        <p class="lbl-text">If you are approved for access you will be notified and will then be able to login this application</p>
                </div>
            </div>
        </div>
    </div>
</div>