@import "../../../styles/dashboard/colors";

.ht23 {
  height: 25px !important;
  display: inline-flex;
}

.wdth {
  width: 180px !important;
}

.label-Color {
  color: $dateLabelSelected;
}

.show {
  .fa-angle-down {
    transform: rotate(180deg) !important;
  }
}
.font {
  font-family: Roboto medium !important;
}
.displayNone {
  display: none !important;
}
.margin {
  margin: 10px 0px 10px 10px !important;
}
#dateRangeDropdown {
  padding-right: 10px;
}
.searchContent {
  background-color: #eae5c4;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 2px;

  .inputSearch {
    // background-color: inherit;
    background-color: #eae5c4;
    padding-left: 3px;

    border: none;
  }
  .inputSearch:focus {
    outline-color: transparent;
  }
}

.margin0 {
  margin-top: 0px;
}
.disableEvent {
  color: $dateLabelSelected !important;
  pointer-events: none;
}

.enableEvent {
  pointer-events: initial !important;
}
.bar-search {
  font-family: "Helvetica", FontAwesome, sans-serif;
  background-color: #ebe5c5;
  width: 201px;
  height: 40px;
  border: none;
  color: grey;
  font-size: 14px;
  text-indent: 6px;
  margin-right: 1px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 510px) {
  .bar-search {
    width: 145px;
    font-size: 12px;
  }
}

.disable-pointer {
  pointer-events: none;
}

// .detail-tr {
//   display: block;
// }
// .detail-thead {
//   font-family: 12px;
// }
// .detail-tbody {
//   font-family: 14px;
// }