$status-new: rgb(24, 77, 128); // new
$status-assigned: rgb(128, 126, 0);
$status-in-progress: rgb(20, 91, 172);
$status-in-review: rgb(128, 0, 79);
$status-approved: rgb(71, 129, 71);
$status-completed: green;
$status-on-hold: yellow;
$status-rejected: rgb(173, 65, 65);
$status-cancelled: rgb(163, 170, 163);